<% if(show_time) { %>
  <div class="time">Created: <%- time.create_time  || 'undefined' %></div><div class="time">Updated: <%- time.alter_time || 'undefined' %></div>
<% } %>
<% if(show_pageupdown_button) { %>
  <div class="pageupdown">
    <% if (pageup) { %>
      <a id="pageupButton" class="pageupdown-btn" href="<%- pageup.site_path %>" data-partial="true">←</a>
    <% } %>
    <% if (pagedown) { %>
      <a id="pagedownButton" class="pageupdown-btn" href="<%- pagedown.site_path %>" data-partial="true">→</a>
    <% } %>
  </div>
<% } %>
<% if (tags && tags.length > 0) { %>
<div class="tags">
  Tags: 
  <% if (Array.isArray(tags)) { %>
    <% tags.forEach(function(tag, idx) { %>
      <a href="<%- tagsurl %>/<%- encodeURIComponent(tag) %>" data-partial="true"><%- tag %></a>
      <%= idx < tags.length - 1 ? ', ' : '' %>
    <% }) %>
  <% } else if (typeof tags === 'string') { %>
    <a href="<%- tagsurl %>/<%- encodeURIComponent(tags) %>" data-partial="true"><%- tags %></a>
  <% } %>
</div>
<% } %>

<% if(show_header) { %>
  <div class="header">
  </div>
<% } %>
<!-- add a separating line-->
<div class="line"></div>

<%- content %>
<% if(show_footer) { %>
  <div class="footer">
  </div>
<% } %>


