<% if(full_page) { %> 
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Notes</title>
  <link rel="icon" type="image/png" href="/favicon.jpg">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex/dist/katex.min.css">
  <link rel="stylesheet" href="/css/dark/style.css">
  <link rel="stylesheet" href="/css/dark/content.css">
  <link rel="stylesheet" href="/css/blocks.css">
  <link rel="stylesheet" href="/css/block-passage.css">
  <script src="https://cdn.jsdelivr.net/npm/katex/dist/katex.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
  <script src="/js/comments.js"></script>
</head>

<body>
  <%- include('sidebar') %>
  
  <div id="content">
<% } %>
  <% if (gen_toc) { %>
      <%- include('toc') %>
  <% } %>
  <% if (has_md) { %>
    <% if( is_slides ) { %>
      <%- include('slides copy') %>
    <% } else { %>
      <%- include('content') %>
      <%- include('comments') %>
      <% } %>
    <% } %>
<% if (full_page) { %>
  </div>
  <%- include('toolbar') %>
</body>

</html>
<% } %>